* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  color: grey;
  margin: 5px 0px;
}

form {
  position: relative;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  padding: 10px 0px;
  color: rgb(18, 8, 161);
}

#root {
  display: flex;
  justify-content: center;
}

.main {
  width: 800px;
}

.post {
  position: relative;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 8px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_title {
  display: block;
  margin-right: 15px;
  font-size: 20px;
  color: black;
}

.post_text {
  font-size: 15px;
  color: grey;
}

#form_add_post {
  margin-right: 0px;
}

#delete_post {
  color: red;
}

.post_null {
  text-align: center;
  font-size: 20px;
  color: red;
  margin-top: 15px;
}
